
/* Main */

.row{
	margin-left: 0;
}

/*invoice table*/

.new-inv{
	background-color: white;
	border-radius: 3px;
	padding: 7px;

}
.new-inv h4{
	margin-left: 10px
}

.new-inv .submit{
	 padding: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.grd tr td input{
  padding-right: 5px; 
  width:110px;
  text-align: right;
  margin-top: -40px;
  margin-bottom: -50px;
}
.grd tr td button{
  padding-top: 5px;
  padding-bottom: 5px;
  margin:0px;
}
.grd thead tr th{
  font-weight: bolder;
  text-align: center;
}
.grd .disabled tr td input{

}
li i {
  font-size: 30px;
}

li {
    border-right: 1px solid white;
    text-align: center;
    width: 100px;
    border-radius: 0px!important;
    transition: border-radius 0.7s;

}

li:active {
  border-radius: 0px 0px 20px 0px!important;
  background-color: red!important;
  transition: border-radius 0.4s, background-color 0.7s;

}


li:hover {
  background-color: #E1668D;
  border-radius: 0px 0px 20px 0px!important;
  transition: border-radius 0.4s, background-color 0.7s;
}
